.home-container {
	max-width: 1200px;
	margin: 0 auto;

	.general-title {
		text-align: center;
		margin-top: 1.5rem;
	}
    
	.countries-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1.5rem;
		margin: 4rem 0;
	}
}
